In [1]:
import pandas as pd

In [4]:
gps_folder = r"D:\suryan\Databases\Gps"

In [18]:
import os

# List all .gps files in the folder
gps_files = [f for f in os.listdir(gps_folder) if f.endswith('.gps') and f.startswith('G_')]

# Read each .gps file as a tab-separated dataframe and store in a list
dfs = [pd.read_csv(os.path.join(gps_folder, file), sep='\t', header=None) for file in gps_files]

In [ ]:
# Concat dfs list of pandas dataframe 
df_all = pd.concat(dfs, ignore_index=True)

In [20]:
df_all.shape

(12224, 8)

In [22]:
df_all.head()

,0,1,2,3,4,5,6,7
0,T-1758934158301,LT-N12.838944,LG-E77.676806,D-0.000000,S-1,DS-2.847937,pDS-0.000000,Alt-941.700000
1,T-1758934203435,LT-N12.839128,LG-E77.676827,D-41.780000,S-10,DS-2.868600,pDS-0.020664,Alt-928.800000
2,T-1758934214618,LT-N12.839009,LG-E77.676993,D-152.050000,S-21,DS-2.890960,pDS-0.043024,Alt-910.300000
3,T-1758934218621,LT-N12.838862,LG-E77.677140,D-150.890000,S-19,DS-2.913776,pDS-0.065839,Alt-907.900000
4,T-1758934224630,LT-N12.838694,LG-E77.677248,D-158.100000,S-11,DS-2.935861,pDS-0.087924,Alt-908.900000

In [30]:
# Format column 0 which contains timestamp in the format 'T-1758934158301'
# Remove the 'T-' prefix, convert to integer, then to pandas timestamp
df_all['timestamp'] = pd.to_datetime(df_all[0].str.replace('T-', '').astype(int), unit='ms')
df_all['timestamp'] = df_all['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')

In [31]:
# Extract numeric values from each column and assign proper names
df_all['Latitude']  = df_all[1].str.replace('LT-', '').astype(str)
df_all['Longitude'] = df_all[2].str.replace('LG-', '').astype(str)
df_all['D']         = df_all[3].str.replace('D-', '').astype(float)
df_all['Speed']     = df_all[4].str.replace('S-', '').astype(float)
df_all['DS']        = df_all[5].str.replace('DS-', '').astype(float)
df_all['pDS']       = df_all[6].str.replace('pDS-', '').astype(float)
df_all['Altitude']  = df_all[7].str.replace('Alt-', '').astype(float)

In [32]:
df_all.drop(columns=[0, 1, 2, 3, 4, 5, 6, 7], inplace=True)

In [33]:
df_all.head()

,timestamp,Latitude,Longitude,D,Speed,DS,pDS,Altitude
0,2025-09-27 06:19:18.301000+05:30,N12.838944,E77.676806,0.00,1.0,2.847937,0.000000,941.7
1,2025-09-27 06:20:03.435000+05:30,N12.839128,E77.676827,41.78,10.0,2.868600,0.020664,928.8
2,2025-09-27 06:20:14.618000+05:30,N12.839009,E77.676993,152.05,21.0,2.890960,0.043024,910.3
3,2025-09-27 06:20:18.621000+05:30,N12.838862,E77.677140,150.89,19.0,2.913776,0.065839,907.9
4,2025-09-27 06:20:24.630000+05:30,N12.838694,E77.677248,158.10,11.0,2.935861,0.087924,908.9

In [34]:
df_all['Speed'].describe()

count    12224.000000
mean        67.524787
std         25.332217
min          0.000000
25%         48.000000
50%         74.000000
75%         86.000000
max        128.000000
Name: Speed, dtype: float64

In [35]:
max_speed_row = df_all.loc[df_all['Speed'].idxmax()]
print("Timestamp with max speed:", max_speed_row['timestamp'])
print("Max speed:", max_speed_row['Speed'])

Timestamp with max speed: 2025-09-27 09:37:50.993000+05:30
Max speed: 128.0

In [38]:
top_20_speed = df_all.sort_values(by='Speed', ascending=False).head(20)
print(top_20_speed)

                            timestamp    Latitude   Longitude       D  Speed  \
6172 2025-09-27 09:37:50.993000+05:30  N12.280106  E78.878227   85.10  128.0
6171 2025-09-27 09:37:49.991000+05:30  N12.280080  E78.877907   85.17  127.0
4399 2025-09-27 09:00:18.268000+05:30  N12.309305  E78.493693  155.24  127.0
7879 2025-09-27 10:21:30.091000+05:30  N12.038217  E79.148835  159.91  127.0
6170 2025-09-27 09:37:48.984000+05:30  N12.280053  E78.877583   85.38  126.0
7877 2025-09-27 10:21:28.088000+05:30  N12.038814  E79.148612  159.71  126.0
4398 2025-09-27 09:00:17.267000+05:30  N12.309594  E78.493558  155.43  126.0
7878 2025-09-27 10:21:29.090000+05:30  N12.038517  E79.148723  160.01  126.0
6169 2025-09-27 09:37:47.981000+05:30  N12.280026  E78.877261   85.61  125.0
4658 2025-09-27 09:05:13.420000+05:30  N12.274483  E78.538831  118.18  125.0
4657 2025-09-27 09:05:12.364000+05:30  N12.274633  E78.538550  119.02  125.0
7880 2025-09-27 10:21:31.094000+05:30  N12.037920  E79.148946  159.77  125.0
4400 2025-09-27 09:00:19.270000+05:30  N12.309023  E78.493823  155.16  125.0
7876 2025-09-27 10:21:27.087000+05:30  N12.039109  E79.148500  159.44  125.0
6173 2025-09-27 09:37:51.994000+05:30  N12.280129  E78.878539   85.25  124.0
4656 2025-09-27 09:05:11.363000+05:30  N12.274784  E78.538273  119.23  124.0
4397 2025-09-27 09:00:16.265000+05:30  N12.309884  E78.493425  155.92  124.0
7875 2025-09-27 10:21:26.085000+05:30  N12.039402  E79.148388  159.11  124.0
7899 2025-09-27 10:21:50.150000+05:30  N12.032683  E79.150924  159.76  123.0
5819 2025-09-27 09:30:39.231000+05:30  N12.297473  E78.800662   61.49  123.0

              DS       pDS  Altitude
6172  164.670392  1.158792     250.9
6171  164.635497  1.123897     250.7
4399  117.321253  3.605395     380.8
7879   21.090166  3.365092     127.9
6170  164.600130  1.088531     250.5
7877   21.019504  3.294430     127.9
4398  117.286010  3.570152     382.0
7878   21.054725  3.329650     127.9
6169  164.565042  1.053442     250.6
4658  124.320650  1.897491     345.4
4657  124.285900  1.862741     345.6
7880   21.125369  3.400294     127.9
4400  117.355722  3.639865     379.9
7876   20.984490  3.259415     128.0
6173  164.704347  1.192747     251.0
4656  124.251362  1.828203     345.9
4397  117.250676  3.534819     383.3
7875   20.949717  3.224642     128.2
7899   21.746165  4.021090     124.7
5819  155.377396  3.954008     279.8